.background {
    background-color: lightgray;
}

.burger {
    height:10px;
    width:200px;
    border-radius:4px;
    margin: 3px auto;
  }

  /* Bread */
  .topBun {
    height:80px;
    background-color:peru;
    border-radius: 80px 80px 5px 5px;
    position: relative;
  }

  .bottomBun{
    height:25px;
    background-color:peru;
    border-radius: 5px 5px 20px 20px;
  }

  .whitebread {
    background-color:peru;
  }

  .wheatbread {
    background-color:rgb(116, 80, 45);
  }

  .ryebread {
    background-color:rgb(66, 36, 5);
  }

  .seed {
    position: absolute;
    width: 15px;
    height: 5px;
    background-color: white;
    border-radius: 40%;
    cursor: pointer;
  }
  .seed1 {
    top: 50px;
    left: 20px;
    transform: rotate(-20deg);
  }

  .seed2 {
    top: 20px;
    left: 70px;
    transform: rotate(-40deg);
  }

  .seed3 {
    top: 40px;
    left: 100px;
    transform: rotate(-74deg);
  }

  .seed4 {
    top: 60px;
    left: 160px;
    transform: rotate(50deg);
  }

  .seed5 {
    top: 40px;
    left: 145px;
    transform: rotate(-45deg);
  }


  /* Veggies */
  .lettuce{
    background-color:green;
    cursor: pointer;
  }

  .tomato{
    background-color:red;
    cursor: pointer;
  }

  .onion{
    background-color:purple;
    cursor: pointer;
  }

  .veggiepattie{
    height:20px;
    background-color:rgb(199, 118, 118);
    cursor: pointer;
  }

  /* Cheese */
  .americancheese{
    border: 1px solid black;
    background-color:yellow;
    height:5px;
    cursor: pointer;
  }

  .swisscheese{
    border: 1px solid black;
    background-color: lightyellow;
    height:5px;
    cursor: pointer;
  }

  .pepperjackcheese{
    border: 1px solid black;
    background-color: lightsalmon;
    height:5px;
    cursor: pointer;
  }

  /* Meats */
  .bacon{
    background-color:#bf3813;
    height:5px;
    cursor: pointer;
  }

  .meatpattie{
    height:20px;
    background-color:rgb(107, 33, 33);
    cursor: pointer;
  }

  .burgerText{
    height: 20px;
    text-align: center;
  }

  .total {
    margin-top: 30px;
    background-color: darkgray;
    padding:10px;
    color:white;
    font-weight: bold;
  }

  .checkoutbutton {
    margin-top: 20px;
    font-weight: bold;
  }